.ipynb_checkpoints/
.DS_Store
__pycache__/
env.py
*.xlsx
*.json
*.csv

cb_2014_us_state_500k.cpg
cb_2014_us_state_500k.dbf
cb_2014_us_state_500k.prj
cb_2014_us_state_500k.shp
cb_2014_us_state_500k.shp.ea.iso.xml
cb_2014_us_state_500k.shp.iso.xml
cb_2014_us_state_500k.shp.xml
cb_2014_us_state_500k.shx
cb_2014_us_state_500k/
soft_skills_cleaned
